[DESIGN]
max-attributes=29

[TYPECHECK]

[MASTER]
DJANGO_SETTINGS_MODULE=portal.settings

disable=duplicate-code,
        invalid-name,
        missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring,
        no-member,
        redefined-builtin,
        too-few-public-methods,
        too-many-ancestors,

ignore-paths=^.*/app/configurations/migrations\/.*$,
             ^.*/app/core/migrations\/.*$,
             ^.*/app/core/models\/.*$,
             ^.*/app/xds_api/migrations\/.*$,
             ^.*/app/configurations/tests\/.*$,
             ^.*/app/configurations/models\/.*$
             ^.*/app/es_api/migrations\/.*$,
             ^.*/app/users/migrations\/.*$,
             ^.*/app/es_api/migrations\/.*$,
             ^.*\.cache\/*\/.*$

init-hook="import os, sys; sys.path.append(os.getcwd())"

[MESSAGES CONTROL]

[FORMAT]
max-line-length=100